body {
	background: url(../img/bg.gif) repeat-x left top #c5d5e1;
	font: 15px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;	

}

div.tablepanel {
	width:800px; 	
	margin: 0 auto;
	display: block;
    margin-top: 20px;
	padding: 5px;
	background-color: #e5f5ff;
	border-radius: 5px;	
}

div.titletablepanel {
	width:800px; 	
	margin: 0 auto;
	display: block;
    margin-top: 15px;
	padding: 5px;
	font-size: 26px;
	font-weight: bold;
	background-color: #d5e5f1;
	border-radius: 5px;	
	text-align: center;
}


#mytable {
	margin: 0;
	clear: both;
	width:100%;
}

#mytable th {
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	letter-spacing: 2px;	
	text-align: left;
	padding: 3px 3px 1px 3px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	background-color: #d5e5f1; 
	color: #002010;		
}

#mytable td {
	font-size: 12px;
	padding: 1px 1px 1px 3px;
	color: #2f4b52;	
	white-space: nowrap;
}

#mytable tr:hover {
	background-color: #F9F990;
}

#mytable td.status {
	color: #FFFFB0;
	text-align:center;
	background-color: #DDDDDD;
}


#mytable td.empty {
	color: #5f7b82;
}

#mytable td.warning {
	color: #CC202A;
}

#mytable td.separator {
	background-color: #E0F0F9;
	font-size: 4px;
	height:4px;
}

img {
	border:none;
}

img.uvms {
	padding-left:3px;
	padding-right:6px;
}

img.node {
	padding-left:3px;
	padding-right:6px;
}
